<div class="widget-wrap back-to-archives-widget">
  <a href="/archives/" class="back-to-archives-btn">
    <span class="back-icon">←</span>
    <span class="back-text"><%= __('back_to_archives') || '返回目录' %></span>
  </a>
</div>